<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Realizar Simulação</title>
</head>
<body>
    <h1>Realizar Simulação</h1>
    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="numero_geracoes">Número de Gerações:</label>
        <input type="number" name="numero_geracoes" required><br>

        <label for="genomas">Genomas (mínimo 2):</label><br>
        <input type="text" name="genomas" placeholder="Genoma 1" required><br>
        <input type="text" name="genomas" placeholder="Genoma 2" required><br>
        <button type="submit">Realizar Simulação</button>
    </form>
</body>
</html>
